[submodule "calculadora"]
	path = calculadora
	url = /calculadora
[submodule "IFDiversidades"]
	path = IFDiversidades
	url = /IFDiversidades
[submodule "Training"]
	path = Training
	url = /Training
[submodule "JogoDaVelha"]
	path = JogoDaVelha
	url = /JogoDaVelha
[submodule "Projeto-Escolar-HEI"]
	path = Projeto-Escolar-HEI
	url = /Projeto-Escolar-HEI
[submodule "ArthurUndefined"]
	path = ArthurUndefined
	url = /ArthurUndefined
[submodule "Fest-patins"]
	path = Fest-patins
	url = /Fest-patins
